<section class="about">
  <h2 class="text-uppercase fs-1 fw-bold pb-2 text-center">about component</h2>
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="line me-3"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line ms-3"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="inner">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML,<br />
            CSS, and JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="inner">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML,<br />
            CSS, and JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
